.chatbotCont {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}

.hotButton {
    color: white;
    background-color: #4299e1;
    border-radius: 2.5vh;
    font-weight: bold;

    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;

    margin-left: 1vw;
    margin-right: 1vw;

    will-change: filter;
    transition: filter 300ms;
}

.hotButton:hover{
    filter: drop-shadow(0 0 2em #4299e1);
}

.title {
    font-size: 1.875rem;
}

.main {
    padding-top: 20vh;
}

@media (max-width: 800px) {
    .title {
        font-size: 1.4rem;
    }
    .main {
        padding-top: 18vh;
    }
}

.pTitle {
    margin-top: 1.5vh;
    font-weight: bold;
    font-size: 6vh;
}

.chatPage {
    height: 80vh !important;
}

@media (max-width: 1000px) {
    .homePageCss {
        margin-top: 8vh;
    }
    .feedPage {
        margin-top: 3vh;
    }
    .homePage {
        margin-top: 10vh;
    }
    .postPage {
        margin-top: 10vh;
    }
    .chatPage {
        margin-top: 6vh;
        height: 74.5vh !important;
    }
}